.card {
    display: flex;
    background: #710000;
    width: 589px;
    margin: 89px auto;
    justify-content: space-evenly;
    height: 248px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px #00000078;
}

img {
    width: 348px;
    /* background: #710000; */
    position: absolute;
    top: -42px;
    right: -115px;
}

.col-one,
.col-two {
    flex-basis: 45%;
}

.col-one {
    color: white;
}

h1 {
    font-size: 49px;
    font-family: cursive;
}

.col-two {
    position: relative;
}

.col-two .discount {
    position: absolute;
    background: #ffc800;
    color: white;
    border-radius: 50%;
    padding: 18px;
    width: 70px;
    height: 70px;
    top: 71px;
    font-size: 25px;
    line-height: 01.5;
    text-align: center;
    box-shadow: 0 0 20px #00000094;
    font-family: cursive;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-size: large;
    padding: 12px;
    color: white;
    border-radius: 10px;
    background-color: black;
    display: inline-block;
    font-family: cursive;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    text-transform: capitalize;
    font-family: cursive;
}